<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>


<div class="jumbotron text-center">
    <h1>Hi this is an index page, listing all the rest services</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3>Machine</h3>
            <p>Check out the rest services for Machine</p>
            <ul class="list-group">
                <li class="list-group-item"><a href="/machine/">get all machines</a></li>
                <li class="list-group-item"><a href="/machine/16">get machine by id</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Manufacturer</h3>
            <p>Check out the rest services for Manufacturer</p>
            <ul class="list-group">
                <li class="list-group-item"><a href="/manufacturer/">get all manufacturer</a></li>
                <li class="list-group-item"><a href="/manufacturer/17">get manufacturer by id</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Order</h3>
            <p>Check out the rest services for Order</p>
            <ul class="list-group">
                <li class="list-group-item"><a href="/order/">get all order</a></li>
                <li class="list-group-item"><a href="/order/83">get order by id</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Recipient</h3>
            <p>Check out the rest services for Recipient</p>
            <ul class="list-group">
                <li class="list-group-item"><a href="/recipient/">get all recipients</a></li>
                <li class="list-group-item"><a href="/recipient/63">get recipients by id</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>